<div class="content">
    <h4>{{ 'pages.users.add_page.title' | translate }}</h4>

  <div class="card">
    <div class="card-header">
      <br>
    </div>

    <div class="card-body">
      <form [formGroup]="formData" (ngSubmit)="addUser(formData.value)">

        <div class="row">
          <div class="col-6">
            <label>Nom :</label>
            <input class="form-control" name="nom" type="text" formControlName="lastName">
          </div>

          <div class="col-6">
            <label>Prenom :</label>
            <input class="form-control" name="prenom" type="text" formControlName="firstName">
          </div>
        </div>

        <label>Email :</label>
        <input class="form-control" name="email" type="email" formControlName="email">

        <label>Travail :</label>
        <input class="form-control" name="travail" type="text" formControlName="job">

        <label>N° de telephone :</label>
        <input class="form-control" name="tel" type="text" formControlName="numTel">

        <input class="form-control save" type="submit" value="Enregistrer" [disabled]="">

      </form>
    </div>

    <div class="card-footer">
      <br>
    </div>

  </div>

</div>
